# Python

*.py[cod]
*.pyo
*.pyd
venv/
.env

# Django
*.log
*.sqlite3
/media
/dist

# Ignore all __pycache__ directories
__pycache__/

# Ignore pycache in specific apps or subdirectories (if any)
library_management_backend/backend/__pycache__/
library_management_backend/users/__pycache__/
library_management_backend/books/__pycache__/

.env
apps/books/__pycache__/apps.cpython-313.pyc
